body {
	background-color: #1b1e24;
}

header {
	font-family: 'Germania One';font-size: 22px;
    
    <style>
    body {
    font-family: 'Germania One';font-size: 22px;
    
}
</style>

	
  
    }

header h1{
	color: #30adff;
	padding-top: 50px;
	
}



}
header img {
	border: 3px solid #f57205;
}